.banner-slider {
  max-width: 1300px;
  margin: 30px auto;
  position: relative;

  .line-default{
    display: block;
    margin-top: 40px;
    border-bottom: 6px solid #f4f4f4;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
  
  .slick-list {
    margin: 0 -10px;
  }

  .slick-slide {
    padding: 0 15px;
    box-sizing: border-box;
    transition: transform 0.3s;
  }

  .slick-center {
    transform: scale(1.03);
  }

  img {
    width: 100%;
    height: 400px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease;
  }

  a:hover img {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
  }

  .slick-dots {
    bottom: 10px;
    li button:before {
      font-size: 10px;
      color: white;
      opacity: 0.5;
    }
    li.slick-active button:before {
      opacity: 1;
      color: orange;
    }
  }

  // ✅ Nút điều hướng
  .custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 24px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0 50px 50px 0;

    &.right {
      right: -10px;
      border-radius: 50px 0 0 50px;
    }

    &.left {
      left: -10px;
      border-radius: 0 50px 50px 0;
    }

    &:hover {
      background-color: rgba(255, 102, 0, 0.8);
    }
  }
}
