.products-page {
  max-width: 1300px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;


  .heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    display: inline-block;
    border: 2px solid #000;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
  }
  

  .products-grid {
    display: grid;
    gap: 1.5rem;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px;
    justify-content: start;
  }

  .product-card {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px; 

    h2 {
      font-size: 1rem;
      color: #cf402d;
      font-weight: bold;
      margin: 0.5rem 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .desc {
      font-size: 0.9rem;
      color: #444;
      margin-bottom: 0.8rem;
      height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .price {
      margin-bottom: 0.8rem;
      .old {
        text-decoration: line-through;
        color: #999;
        margin-right: 0.5rem;
      }
      .new {
        font-weight: bold;
        color: #000;
      }
    }

    .buy-button {
      background-color: rgb(247, 159, 97);
      color: #fff;
      font-weight: bold;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.3s;
      margin-top: auto;
    }

    .buy-button:hover {
      background-color: rgb(245, 124, 37);
    }
  }

}
