.movie-section {
  max-width: 1300px;
  margin: 40px auto;
  padding: 0 20px;

  .movie-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        border-left: 4px solid #0055cc;
        padding-left: 10px;
    }

    
  }

  .movie-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-height: calc(2 * 320px + 20px); 
    overflow: hidden;
  }

  .movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;

    img {
      border-radius: 8px;
      width: 100%;
      height: 100%;
    }

    p {
      margin-top: 8px;
      font-size: 16px;
      font-weight: 500;
      color: #333;
    }
  }

  .see-more {
    display: inline-block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    border: 1px solid #ff5722;
    color: #ff5722;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
    text-align: center;

    &:hover {
      background-color: #ff5722;
      color: white;
    }
  }

   .line-default{
    display: block;
    margin-top: 40px;
    border-bottom: 6px solid #f4f4f4;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  // Căn giữa phần xem thêm
  .see-more {
    display: block;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
  }
}
