.movie-detail-page {
  max-width: 1300px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: "Segoe UI", sans-serif;
  color: #222;

  .movie-banner {
    width: 100%;
    height: 400px;
    overflow: hidden;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .movie-content {
    display: flex;
    gap: 2rem;
    padding: 2rem;

    .poster img {
      object-fit: cover;
      border-radius: 8px;
      width: 350px;
      height: 100%;
    }

    .details {
      flex: 1;

      h1 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
      }

      .sub-info {
        display: flex;
        gap: 1.5rem;
        margin-bottom: 1rem;
        font-size: 0.9rem;
        color: #444;

        small {
          color: #888;
        }
      }

      .tag {
        background: #eee;
        padding: 0.2rem 0.6rem;
        border-radius: 4px;
        font-size: 0.85rem;
        margin-right: 0.5rem;
      }
    }
  }

  .movie-description {
    padding: 0 2rem 2rem;
    line-height: 1.6;

    h3 {
      border-left: 4px solid #005bac;
      padding-left: 20px;
      color: #000;
      margin-bottom: 1rem;
    }
  }

  .showtime-section {
    padding: 1rem 2rem 2rem;

    h3 {
      border-left: 4px solid #005bac;
      padding-left: 20px;
      color: #000;
      margin-bottom: 1rem;
    }

    .date-tabs {
      display: flex;
      gap: 1rem;
      margin-bottom: 1.5rem;

      .tab-button {
        padding: 0.5rem 1rem;
        background: #eee;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        // font-weight: bold;
        text-align: center;

        &.active {
          background-color: #007aff;
          color: white;
        }
      }
    }

    .cinema {
      h4 {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
      }

      .showtimes {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: 0.5rem;

        span {
          font-weight: bold;
        }

        button {
          background: #f0f0f0;
          border: none;
          padding: 0.4rem 0.8rem;
          border-radius: 4px;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            background: #ddd;
          }
        }
      }
    }

    .no-schedule {
      color: #999;
      font-style: italic;
    }
  }

  .seat-selection {
    margin: 2rem 2rem;
    background: #f9f9f9;
    border-radius: 8px;
    padding: 1.5rem;

    .seat-screen {
      text-align: center;
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 1.2rem;
      position: relative;
      padding: 0.5rem;
      border-top: 4px solid #98e039;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      color: gray;
    }

    .seat-legend {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: center;
      margin-bottom: 1rem;

      .seat {
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 4px;
        margin-right: 5px;

        &.standard {
          background: #ccc;
        }

        &.vip {
          background: #ffde59;
        }

        &.couple {
          background: #00eaff;
        }

        &.selected {
          background: #9ae82b;
        }

        &.sold {
          background: #e62c2c;
        }
      }
    }

    .seat-map {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      margin-bottom: 1.5rem;

      .seat-row {
        display: flex;
        gap: 6px;

        .seat {
          width: 24px;
          height: 24px;
          border-radius: 4px;
          background: #ccc;
        }
      }
    }

    .seat-summary {
      text-align: center;
      color: red;
      font-weight: bold;

      .back {
        margin-top: 1rem;
        display: inline-block;
        background: transparent;
        border: none;
        color: #007aff;
        font-weight: bold;
        cursor: pointer;
      }

      p {
        margin-top: 10px;
        font-size: 0.9rem;
      }
    }
  }
}
